$gap: 1rem;

.locations-weather-list {
    display: flex;
    flex-direction: column;
    row-gap: $gap;

    @include md {
        flex-direction: column-reverse;
    }

    > .locations-content {
        animation: fadeIn;
        animation-duration: 1.2s;

        display: flex;
        flex-direction: column;
        row-gap: $gap;
    }
}
