/* Breakpoints */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* Colors */
$mainColor: #313288;
$mainColorAlter: #7b67eb;
$secondaryColor: #dbe7f5;
$bgColor: #dce3e9;

/* Fonts */
$fa-font-path: 'vendors/webfonts';

/* Layout variables */
$containerPadding: 35px;
$gridGap: 25px;
$roundness: 25px;
$containerHeight: 550px;
$containerWidth: $screen-lg-min;
