/* Breakpoints */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* Colors */
$mainColor: #313288;
$mainColorAlter: #7b67eb;
$secondaryColor: #dbe7f5;
$bgColor: #dce3e9;

/* Fonts */
$fa-font-path: 'vendors/webfonts';

/* Layout variables */
$containerPaddingBigScreens: 40px;
$containerPaddingSmallScreens: 20px;
$gridGap: 30px;
$roundness: 25px;
$containerHeight: 550px;
$containerWidth: $screen-lg-min;
$bannerRoundness: 22px;

$strongShadowStyle: 10px 30px 60px #00000090;
$softShadowStyle: 10px 30px 60px #00000033;
