html,
body {
    height: 100vh;

    #app {
        height: 100vh;
        background-color: $bgColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat';
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    grid-gap: $gridGap;
    padding: $containerPaddingSmallScreens;
    box-sizing: border-box;
    box-shadow: $softShadowStyle;
    overflow: auto;

    .section-1,
    .section-2,
    .section-3 {
        flex: 1;
    }

    /* Screens bigger than 'sm' will have section-1 fill an entire row  */
    @include sm {
        flex-direction: row;
        flex-wrap: wrap;
        padding: $containerPaddingBigScreens;

        .section-1 {
            flex: 0 0 100%;
            height: 45%;
        }
    }

    /* Screens bigger than 'lg' will have the container rounded and its size constrained */
    @include lg {
        max-width: $containerWidth;
        max-height: $containerHeight;
        border-radius: $roundness;
    }
}
